
body {
  overflow-x:hidden;
}

.header{
    background-color: #4286f4;
    margin: 0px;
    border: 0px;
    display: block;
}

.header h1{ color:#393e44;}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

 #wrapper.toggled {
  padding-left: 250px;
} 

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #4286f4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

h3 {
  color: #000000;
  text-align: center;
  z-index: -1;
}


/* d3 Styling  */

    .node rect {
      cursor: pointer;
      fill: #000000;
      fill-opacity: .09;
      stroke: #000000;
      stroke-width: 5.5px;
    }

    .node text {
      font: 13px sans-serif;
      pointer-events:visibleStroke;
    }

    path.link {
      fill: none;
      stroke: #9ecae1;
      stroke-width: 2.5px;
    }
    .navbar{
      background-color: #9ecaff;
    }